@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  position: absolute;
  width: 15.5rem;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.919);
  border-radius: 2px;
  top: 15vw;
  left: 38vw;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
